span.undefined { color:red; }
#pubTable {width:100%; margin: 0 auto; clear: both;}
#pubChart { float:left; }
.clear {clear:both;}
#pubyeardetails {font-size:smaller;float:left; padding:5px; display:none; border:1px solid #eee; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px;}
#pubyeardetails h3 {margin: 0;border-bottom:1px solid lightGray;}
#pubyeardetails ul {padding:0;}
#pubyeardetails li {padding:0; list-style: none; }
table.display thead th { padding: 3px 18px 3px 10px; border-bottom: 1px solid black; border-top: 1px solid black; font-weight: bold; cursor: pointer; cursor: hand; }
table.display tfoot th { padding: 3px 10px; border-top: 1px solid black; font-weight: bold; }
table.display td { padding: 3px 10px; }
table.display td.center { text-align: center; }
.sorting_asc { background: url('lib/images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('lib/images/sort_desc.png') no-repeat center right; }
.sorting { background: url('lib/images/sort_both.png') no-repeat center right; }
.sorting_asc_disabled { background: url('lib/images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('lib/images/sort_desc_disabled.png') no-repeat center right; }
tr.odd { background-color: #eee; }
tr.even { background-color: white; }